services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: moviestore.db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password1_
    ports:
      - "1433:1433"
    volumes:
      - sql_server_volume:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P 'Password1_' -Q 'SELECT 1' -b -C" ]
      interval: 10s
      timeout: 3s
      retries: 10
  minio:
    image: minio/minio
    container_name: moviestore.minio
    environment:
      MINIO_ROOT_USER: accesskey
      MINIO_ROOT_PASSWORD: secretkey
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_volume:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 5s
      timeout: 5s
      retries: 5
  api:
    image: moviestore.api
    container_name: moviestore.api
    build:
      context: .
      dockerfile: src/MovieStore.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      # [CRITICAL] Overriding the connection string from appsettings.json
      # We use double underscore (__) to represent the JSON hierarchy "DbSettings:ConnectionString"
      - DbSettings__ConnectionString=Server=db;Database=MovieStore3;User Id=sa;Password=Password1_;TrustServerCertificate=True;
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
volumes:
  sql_server_volume:
  minio_volume:
