@model Genre

<form method="post">
	<input asp-for="Id" hidden />
	<div class="row">
		<div class="border p-3 mt-4">
			<div class="row pb-2">
				<h2 class="text-primary">Delete Genre</h2>
				<hr />
			</div>
			<div class="mb-3">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control" disabled />
			</div>
			<div class="row">
				<div class="col-6 col-md-3">
					<button type="submit" class="btn btn-primary btn-lg form-control">Delete</button>
				</div>
				<div class="col-6 col-md-3">
					<a asp-area="" asp-controller="Genre" asp-action="Index" class="btn btn-secondary btn-lg form-control">Back to List</a>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}