@model MovieVM

@{
    ViewData["Title"] = Model.Movie.Id != 0 ? "Movie Update" : "Movie Creation";
}

<form method="post" enctype="multipart/form-data">
    <input asp-for="Movie.Id" hidden />
    @if (Model.Movie.Id != 0)
    {
        <input asp-for="Movie.ImageUrl" hidden />
    }
    <div class="row">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">@(Model.Movie.Id != 0 ? "Update" : "Create") Movie</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Title"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Description"></label>
                <input asp-for="Movie.Description" class="form-control" />
                <span asp-validation-for="Movie.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.Price"></label>
                <input asp-for="Movie.Price" class="form-control" />
                <span asp-validation-for="Movie.Price" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedItems">Genres</label>
                <select asp-for="SelectedItems" asp-items="Model.GenreList">
                    <option disabled selected>--Select Genres--</option>
                </select>
                <span asp-validation-for="SelectedItems" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Movie.ImageUrl"></label>
                <input type="file" name="file" asp-for="Movie.ImageUrl" class="form-control" />
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary btn-lg form-control">@(Model.Movie.Id != 0 ? "Update" : "Create")</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Movie" asp-action="Index" class="btn btn-secondary btn-lg form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}